h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
  break-after: avoid;
}

/* prevents page-breaks inside pre tags and block-level quotes */
pre,
blockquote {
  page-break-inside: avoid;
}

p {
  orphans: 3;
  widows: 3;
}

/* from main styles.css */

.responsive-table-markdown > table {
  width: 100% !important;
}
.responsive-table-markdown > table tr:nth-child(even) {
  background-color: red !important; /* make zebra stripes */
}
/* table inner borders */
.responsive-table-markdown > table td + td {
  border-left: 1px solid #ccc !important;
}
.responsive-table-markdown > table tr + tr td {
  border-top: 1px solid #ccc !important;
}
.responsive-table-markdown > table td,
.responsive-table-markdown > table th {
  padding: 1rem !important;
}
.responsive-table-markdown > table th {
  font-size: 1.125em !important;
}
