{{ if .IsPage}}
    {{ with .File }}
        {{ $.Scratch.Set "FilePath" .Path }}
    {{ end }}
    {{ with .Site.Params.GithubEdit}}
        <a class="btn btn-outline-dark" href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>Edit this page</a>
    {{ end }}
{{ end }}


{{ if .IsNode}}
    {{ with .File }}
        {{ $.Scratch.Set "FilePath" .Path }}
    {{ end }}
    {{ with .Site.Params.GithubEdit}}
        <a class="btn btn-outline-dark" href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>Edit this page</a>
    {{ end }}
{{ end }}