<div class="bd-search" id="docsearch" data-bd-docs-version="5.3">
    <button type="button" class="DocSearch DocSearch-Button" aria-label="Search">
        <span class="DocSearch-Button-Container">
            <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="DocSearch-Button-Placeholder">Search</span>
        </span>
        <span class="DocSearch-Button-Keys">
            <kbd class="DocSearch-Button-Key">⌘</kbd>
            <kbd class="DocSearch-Button-Key">K</kbd>
        </span>
    </button>
</div>


<!-- wiki pagefinde -->

<div class="bd-search" id="docsearch">
    <div class="pagefind-ui svelte-1bkqzc5 pagefind-ui--reset">
        <form class="pagefind-ui__form svelte-1bkqzc5" role="search" aria-label="Search this site" action="javascript:void(0);">
            <input class="pagefind-ui__search-input svelte-1bkqzc5" type="text" placeholder="Search"> 
            <button class="pagefind-ui__search-clear svelte-1bkqzc5 pagefind-ui__suppressed">Clear</button> 
            <div class="pagefind-ui__drawer svelte-1bkqzc5 pagefind-ui__hidden"> </div>
        </form>
    </div>
</div>