<nav class="bd-links w-100" id="bd-docs-nav" aria-label="Wiki navigation">
  <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
    {{ range .Pages.ByTitle }}
      {{ if .IsNode }}
        <li class="mb-1">
          <button
            class="btn d-inline-flex align-items-center rounded"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{ .Title | urlize }}"
            aria-expanded="true"
            aria-controls="{{ .Title | urlize }}"
          >
            {{ .Title }}
          </button>

          <div class="collapse show" id="{{ .Title | urlize }}">
            {{ partial "section-courses-walk.html" . }}
          </div>
        </li>
      {{ end }}

      {{ if .IsPage }}
        <li class="fw-normal">
          <a
            class="d-inline-flex align-items-center rounded"
            href="{{ .RelPermalink }}"
            >{{ .Title }}</a
          >
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
