{{- $includeUrl := urls.Parse .Destination -}}
{{- $includeFileBase := path.Base $includeUrl.Path }}
{{- $includeFileDir := path.Dir $includeUrl.Path }}
{{- $includePath := "" }}

{{- if strings.HasSuffix $includeUrl.Path ".md" }}
  {{- $withoutPrefix := replace (replace .Destination "../" "" ) "./" "" }}
  {{- $pathPrefix := path.Join "../" .Destination }}
  {{- $candidatePaths := slice .Destination $withoutPrefix $pathPrefix }}

  {{- range $candidate := $candidatePaths }}
    {{- if and (ne $candidate "") (os.FileExists $candidate) }}
      {{- $includePath = $candidate }}
      {{- break }}
    {{- end }}
  {{- end }}

  {{- if ne $includePath "" }}
    {{- if os.FileExists $includePath }}
      <div data-pagefind-ignore>
        {{- $includePath | readFile | replaceRE "^---[\\s\\S]+?---" "" | .Page.RenderString -}}
      </div>
    {{- else }}
      <p>
        File not found even though we have a non-empty path. Check path
        validity:
      </p>
      <p>{{ $includePath }}</p>
    {{- end }}
  {{- else }}
    <p>Link Not Found: {{ $includeUrl.Path }}</p>
    <ul>
      <li>.Destination = {{ .Destination }}</li>
      <li>$includeUrl.Path = {{ $includeUrl.Path }}</li>
      <li>$withoutPrefix = {{ $withoutPrefix }}</li>
      <li>$pathPrefix = {{ $pathPrefix }}</li>
      <li>$includeFileBase = {{ $includeFileBase }}</li>
      <li>$includeFileDir = {{ $includeFileDir }}</li>
    </ul>
  {{- end }}
{{- else }}
  {{- $img := .Page.Resources.GetMatch .Destination }}
  {{- if and (not $img) .Page.File }}
    {{- $img = resources.Get (path.Join .Page.File.Dir .Destination) }}
  {{- end }}

  {{- if $img }}
    {{- $xlarge := $img.Resize "3840x" }}
    {{- $large := $img.Resize "2048x" }}
    {{- $medium := $img.Resize "1080x" }}
    {{- $small := $img.Resize "828x" }}
    {{- $xsmall := $img.Resize "640x" }}


    <figure class="image-caption">
      <img
        alt="{{ $.Text }}"
        srcset="
          {{ $xsmall.RelPermalink }}  640w,
          {{ $small.RelPermalink }}  828w,
          {{ $medium.RelPermalink }} 1080w,
          {{ $large.RelPermalink }} 2048w,
          {{ $xlarge.RelPermalink }} 3840w
        "
        width="{{ $img.Width }}"
        sizes="50vw"
        src="{{ $xsmall.RelPermalink }}"
      />
      <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
    </figure>
  {{- else if .Page.File }}
    {{- $imgPath := path.Join (path.Dir .Page.File.RelPermalink) .Destination -}}
    {{- if os.FileExists $imgPath -}}
      <img
        class="img-fluid"
        src="{{ $imgPath | safeURL }}"
        alt="{{ $.Text }}"
      />
    {{- else -}}
      <p>Image not found: {{ $imgPath }}</p>
    {{- end -}}
  {{- else -}}
    <p>Image not found (no Page.File): {{ .Destination }}</p>
  {{- end }}
{{- end }}
