{{/* layouts/_default/_markup/render-link.html */}}
{{- $url := .Destination | safeURL -}}
{{- $page := .Page -}}
{{- if not (urls.Parse $url).IsAbs -}}
  {{- $resolvedURL := path.Join $page.File.Dir $url -}}
  {{- $linkedPage := site.GetPage $resolvedURL -}}
  {{- if $linkedPage -}}
    {{- $scratch := newScratch -}}
    {{- $scratch.Set "source" $page.RelPermalink -}}
    {{- $scratch.Set "target" $linkedPage.RelPermalink -}}
    {{- site.Home.Scratch.Add "links" (slice $scratch.Values) -}}
  {{- end -}}
{{- end -}}
<a
  href="{{ .Destination | safeURL }}"
  {{ with .Title }}title="{{ . }}"{{ end }}
>
  {{ .Text | safeHTML }}
</a>
