{{ define "main" }}
  <article class="container-xxl my-md-4 bd-layout" id="post-list-page">
    <main class="bd-main order-1">
      <div class="bd-intro ps-lg-4">
        {{ partial "breadcrumbs.html" . }}
        <div
          class="d-md-flex flex-md-row align-items-center justify-content-between"
        >
          <h1 class="bd-title" id="pageTitleH1">{{ .Title }}</h1>
        </div>
      </div>

      <aside
        class="bd-toc mt-4 mb-5 my-md-0 px-xl-3 mb-lg-5 text-muted"
        id="topTOC"
      >
        {{ partial "toc.html" . }}
      </aside>

      <div class="bd-content ps-lg-4">
        {{ .Content }}


        <ul
          class="list-unstyled mb-0 py-3 pt-md-1"
          style="display:grid; grid-template-columns: 1fr 1fr 1fr ; grid-gap: 1rem;"
        >
          {{ $paginator := .Paginate (where .Pages "Type" .Section) }}

          {{ range $paginator.Pages }}
            <li class="card">
              {{ $img := "" }}
              {{ if .Params.featured_image }}
                {{ $img =  .Params.featured_image }}
              {{ else }}
                {{ $img = printf "/img/whatmakeart-logo-16-9.png" }}
              {{ end }}


              <a href="{{ .RelPermalink }}"
                ><img class="card-img-top" src="{{ $img }}"
              /></a>

              <div class="card-body">
                <p class="card-title">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </p>
              </div>
            </li>
          {{ end }}
        </ul>
        <div class="d-flex">
          {{ partial "pagination.html" . }}
        </div>
      </div>
    </main>
  </article>
{{ end }}
