{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <br />
  <br />
  <br />
  <article class="d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-1 fw-bold">404</h1>
      <p class="fs-3"><span class="text-danger">Oops!</span> Page not found.</p>
      <p class="lead">The page you’re looking for doesn’t exist.</p>

      <div>
        <script src="/artsearch/pagefind-ui.js" type="text/javascript"></script>
        <script src="artsearch/pagefind-ui.js" type="text/javascript"></script>

        <div id="search"></div>
        <script>
          window.addEventListener("DOMContentLoaded", (event) => {
            new PagefindUI({
              element: "#search",
              showImages: false,
            });
          });
        </script>
      </div>
      <br />
      <a href="{{ .Site.BaseURL }}" class="btn btn-primary"
        >Go to {{ .Site.Title }} Home</a
      >
    </div>
  </article>
{{ end }}
