{{ define "body_override" }}<body data-bs-spy="scroll" data-bs-target="#TableOfContents">{{ end }}
{{ define "main" }}
  <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        <aside class="bd-sidebar">
      <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="wikiSidebar" aria-labelledby="wikiSidebarOffcanvasLabel">
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title" id="wikiSidebarOffcanvasLabel">Browse Art Wiki</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#wikiSidebar"></button>
        </div>

        <div class="offcanvas-body">
          {{ partial "sidebar-wiki" . }}
        </div>
      </div>
    </aside>

    <main >
      <div class="bd-intro pt-2 ps-lg-2">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
 
<script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
<div id="search"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({ element: "#search", showSubResults: true });
  });
</script>

          <h1 class="bd-title mb-0" id="content">{{ .Title | markdownify }}</h1>
        </div>
        <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>
        <!-- ads -->
      </div>


      <div class="bd-content ps-lg-4">
        {{ if .Page.Params.sections }}
          <div class="row g-3">
            {{ range .Page.Params.sections }}
            <div class="col-md-6">
              <a class="d-block text-decoration-none" href="../{{ urlize .title }}/">
                <strong class="d-block h5 mb-0">{{ .title }}</strong>
                <span class="text-secondary">{{ .description }}</span>
              </a>
            </div>
            {{ end }}
          </div>
        {{ end }}

        {{ .Content }}

        <h2>Courses</h2>
            <div style="display:grid; grid-template-columns: 1fr 1fr; grid-gap: 1rem;">
                {{ with site.GetPage "courses"}}
                {{ range .Pages }}
                <div class="card ">
                      {{ $img := "" }}
                        {{ if .Params.featured_image }}
                            {{ $img =  .Params.featured_image  }}
                        {{ else }}
                            {{ $img = printf "/img/whatmakeart-logo.png" }}
                        {{ end}}

                    <img class="card-img-top" src="{{ $img }}">

                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">{{ .Title }}</h3>
                        <p class="card-text">{{ .Summary }}</p>
                        <a href="{{ .RelPermalink}}" class="stretched-link mt-auto btn btn-outline-primary">View Course</a>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>

      </div>
    </main>
  </div>
{{ end }}
{{ define "footer" }}
  {{ range .Page.Params.extra_js -}}
    <script{{ with .async }} async{{ end }} src="{{ .src }}"></script>
  {{- end -}}
  <div class="position-fixed" aria-hidden="true"><input type="text" tabindex="-1"></div>
{{ end }}


