{{ define "main" }}
<article data-pagefind-ignore class="container-xxl my-md-4 bd-layout">
    <main class="bd-main order-1">
        <div class="bd-intro ps-lg-4">
            {{ partial "breadcrumbs.html" . }}
            <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">

                {{ partial "edit-page" . }}

                <h1 class="bd-title" id="pageTitleH1">{{ .Title }}</h1>

            </div>
        </div>

        <aside class="bd-toc mt-4 mb-5 my-md-0 px-xl-3 mb-lg-5 text-muted" id="topTOC">
            {{ partial "toc.html" . }}
        </aside>


        <div class="bd-content ps-lg-4">
            {{ .Content }}
            <section class="bd-sidebar" style="width:100%;">
                <nav class="bd-links" id="making-wiki-nav" aria-label="Making Wiki Navigation">
                    <ul class="list-unstyled mb-0 py-3 pt-md-1">

                        {{ range .Pages.ByTitle }}
                        {{ if .IsNode }}
                        <li class="mb-1">
                            <button class="btn d-inline-flex align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .Title | urlize  }}" aria-expanded="false" aria-controls="{{ .Title | urlize  }}">
                                {{ .Title }}
                            </button>

                            <div class="collapse" id="{{ .Title | urlize  }}">
                                {{ partial "walk.html" . }}
                            </div>
                        </li>
                        {{end }}

                        {{ if .IsPage }}
                        <li class="fw-normal">
                            <a class="d-inline-flex align-items-center rounded" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                        {{end }}

                        {{ end }}

                    </ul>
                </nav>
            </section>
        </div>
    </main>
</article>
{{ end }}