{{ define "main" }}

<nav class="bd-subnavbar py-2">
    <div class="container-xxl d-flex align-items-md-center">
        <button class="btn bd-sidebar-toggle d-md-none py-0 px-1 ms-3 order-3 collaped" type="button" data-bs-toggle="collapse" data-bs-target="#making-wiki-nav" aria-controls="making-wiki-nav" aria-expanded="false" aria-label="Toggle Making Wiki Navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-expand" fill="currentColor" viewBox="0 0 16 16">
                <title>Expand</title>
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-collapse" fill="currentColor" viewBox="0 0 16 16">
                <title>Collapse</title>
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"></path>
            </svg>
            Expand Art Wiki Topics
        </button>
    </div>
</nav>

<article class="container-xxl my-md-4 bd-layout">

    <aside class="bd-sidebar">
        <nav class="collapse bd-links" id="making-wiki-nav" aria-label="Making Wiki Navigation">
            <ul class="list-unstyled mb-0 py-3 pt-md-1">
                {{ $p1 := where .Site.Home.Sections.ByTitle "Section" "not in" (slice "posts" "courses" ) }}
                {{ $p2 := where .Site.RegularPages "Type" "page"}}
                {{ $pages := union $p1 $p2 }}

                {{ range ($pages) }} <!-- add ($pages.ByTitle) to sort all together in order-->

                {{ if .IsNode }}
                <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .Title | urlize  }}" aria-expanded="false" aria-controls="{{ .Title | urlize  }}">
                        {{ .Title }}
                    </button>

                    <div class="collapse" id="{{ .Title | urlize  }}">
                        {{ partial "walk.html" . }}
                    </div>
                </li>
                {{end }}

                {{ if .IsPage }}
                <li class="fw-normal">
                    <a class="d-inline-flex align-items-center rounded" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{end }}

                {{ end }}

            </ul>
        </nav>

    </aside>
    <main data-pagefind-body class="bd-main order-1">

        <div class="bd-intro ps-lg-4">
            {{ partialCached "pagefind.html" . }}
            {{ partial "breadcrumbs.html" . }}
            <div class="d-md-flex flex-md-row align-items-center justify-content-between">


                <h1 class="bd-title" id="pageTitleH1">{{ .Title }}</h1>
            </div>
            {{ partial "head/reading-time.html" . }}
        </div>


        <aside class="bd-toc mt-4 mb-5 my-md-0 px-xl-3 mb-lg-5 text-muted" id="topTOC">
                

            {{ partial "toc.html" . }}

            {{ partial "backlinks.html" . }}


        </aside>

        <div class="bd-content ps-lg-4">

        {{ if in .Params.tags "stub" }}
            <div class="bd-callout bd-callout-info"><strong>This page is an incomplete stub.</strong> It serves as a placeholder for inbound links from other pages. Check back for updated content. </p>
            </div>
        {{ end }}


            {{ .Content }}

            {{ partial "backlinks.html" . }}

            <!-- Last Updated Date -->
       
            {{- if $.GitInfo -}}
                <div class="post-info-last-mod">
                    (Last Modified:
                    <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">
                        {{ .Lastmod.Format "January 2, 2006" }}
                    </time>)
                </div>
            {{- end -}}



        </div>

    </main>
</article>


{{ end }}