<aside>
    <h1>Making Wiki</h1>
    <ul class="list-unstyled accordion accordion-flush" id="wiki-accordian-full">
        {{ $p1 := where .Site.Home.Sections.ByTitle "Section" "not in" (slice "posts" "courses" ) }}
        {{ $p2 := where .Site.RegularPages "Type" "page"}}
        {{ $pages := union $p1 $p2 }}
        {{ range ($pages.ByTitle) }}

        {{ if .IsNode }}
        <li class="accordion-item">
            <h2 class="accordion-header" id="{{ .Title | urlize}}-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .Title | urlize  }}" aria-expanded="false" aria-controls="{{ .Title | urlize  }}">
                    {{ .Title }}
                </button>
            </h2>
            <div id="{{ .Title | urlize  }}" class="accordion-collapse collapse" aria-labelledby="{{ .Title | urlize  }}" data-bs-parent="#wiki-accordian-full">
                {{ partial "walk.html" . }}
            </div>
        </li>
        {{end }}

        {{ if .IsPage }}
        <li>
            <a style="color:red;" href="{{ .RelPermalink }}">{{ .Title }}</a>

            {{ partial "walk.html" . }}
        </li>
        {{end }}

        {{ end }}

    </ul>

</aside>