{{ define "body_override" }}
  <body data-bs-spy="scroll" data-bs-target="#TableOfContents"></body>
{{ end }}
{{ define "main" }}
  <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <aside class="bd-sidebar">
      <div
        class="offcanvas-lg offcanvas-start"
        tabindex="-1"
        id="wikiSidebar"
        aria-labelledby="wikiSidebarOffcanvasLabel"
      >
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title" id="wikiSidebarOffcanvasLabel">
            Browse Art Wiki
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            data-bs-target="#wikiSidebar"
          ></button>
        </div>
        <div class="offcanvas-body">
          {{ partial "sidebar-wiki" . }}
        </div>
      </div>
    </aside>

    <main>
      <div class="bd-intro pt-2 ps-lg-4">
        {{ partial "breadcrumbs" . }}
        <h1 class="bd-title mb-0" id="content">{{ .Title | markdownify }}</h1>
      </div>
      <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>
      <!-- ads -->

      <div class="bd-content ps-lg-4">
        {{ .Content }}
        <section style="width:100%;">
          {{ if .Params.course_cards }}
            <!-- checks if it is the root of a section (eq .CurrentSection .FirstSection)  -->
            <!-- lists the courses as icons like on index page but only on first page, could combine this code and index code into a partial -->
            <div
              style="display:grid; grid-template-columns: 1fr 1fr; grid-gap: 1rem;"
            >
              {{ range .Pages.ByDate }}
                <div class="card ">
                  {{ $img := "" }}
                  {{ if .Params.featured_image }}
                    {{ $img =  .Params.featured_image }}
                  {{ else }}
                    {{ $img = printf "/img/whatmakeart-logo-16-9.png" }}
                  {{ end }}


                  <img class="card-img-top" src="{{ $img }}" />

                  <div class="card-body d-flex flex-column">
                    <h3 class="card-title">{{ .Title }}</h3>
                    <p class="card-text">{{ .Summary }}</p>
                    <a
                      href="{{ .RelPermalink }}"
                      class="stretched-link mt-auto btn btn-outline-primary"
                      >View Course</a
                    >
                  </div>
                </div>
              {{ end }}

            </div>
          {{- else -}}
            {{- if .Params.coursemenuexpanded -}}
              {{- partial "section-courses-expanded" . -}}
            {{- else -}}
              {{ partial "section-courses" . }}
            {{- end -}}
          {{- end -}}
        </section>
      </div>
      <!-- end bd-content -->
    </main>
  </div>
  <!-- end .container-xxl -->
{{ end }}
{{ define "footer" }}
  <div class="position-fixed" aria-hidden="true">
    <input type="text" tabindex="-1" />
  </div>
{{ end }}
