{{ $link := .Destination }}
{{ $isRemote := strings.HasPrefix .Destination "http" }}

{{- if not $isRemote -}}
    {{ $url := urls.Parse .Destination }}
    {{- $linkFileBase := path.Base $url -}} <!-- get last part of $url likely the filename -->
    {{- $linkFileDir := path.Dir $url -}}
    {{- $searchedFile := $url -}}
    {{- $linkExt := $url -}}

    {{- if $url.Path -}}
        {{ $fragment := "" }}

        {{- with $url.Fragment }}
            {{ $fragment = printf "#%s" . }}
        {{ end -}}<!-- end with $url.Fragment -->

        {{- with .Page.GetPage $url.Path }}
            {{ $link = printf "%s%s" .RelPermalink $fragment }}
        {{ end }}

        {{- if os.FileExists $link -}}
            <!-- Original Link Exists -->
            {{ $link = $link }}
            {{ else }}

                {{- range .Page.Site.Pages -}} <!-- set range of all pages need to use .Page in front since in render hook -->
                    {{- $linkFileDir := replace $linkFileDir "../" "" -}}
                    {{- $linkFileDir := replace $linkFileDir "./" "" -}}
                    {{- $searchedFile = (path.Join (path.Dir .Page.File.Path) $linkFileDir $linkFileBase) -}}

                    {{- if os.FileExists $searchedFile -}}
                        {{- $linkExt = urls.Parse $searchedFile -}} <!-- Get file extension -->
                    {{- else -}}
                        {{- $searchedFile = path.Join "/" $searchedFile -}} <!-- add front slash to make a root relative link -->
                        {{- if os.FileExists $searchedFile -}}
                            {{- $linkExt = urls.Parse $link -}} <!-- Get file extension -->
                        {{ end }}
                    {{ end }}

                    {{ if os.FileExists $searchedFile }}
                        {{ $link = $searchedFile }}
                    {{- if strings.HasSuffix $linkExt.Path ".md" -}} <!-- Check if a markdown file extension -->
                        {{ $link = replace $link ".md" "/"}}
                    {{ end }}

                    {{ $link = path.Join "/" $link }} <!-- add front slash to make a root relative link -->
                    {{ $link = path.Clean $link }}
                {{- end -}}
            {{ end }}
        {{ end }}
    {{ end }}
{{end}} <!-- end if not $isRemote -->

<a href="{{ $link | safeURL  }}" {{ with .Title}} title="{{ . }}" {{ end }}>{{ .Text | safeHTML }}{{ if $isRemote }}<span style="white-space: nowrap;">&thinsp;
        <svg style="height: 1rem; width: 1rem; vertical-align: baseline;" focusable="false" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 792 792">
            <title>external link</title>
            <path fill="none" stroke="currentColor" d="M678.08 396v315.12c0 31.4-25.43 56.85-56.79 56.85H81.49c-31.36 0-56.79-25.45-56.79-56.85V170.77c0-31.4 25.43-56.85 56.79-56.85h269.9" style="stroke-width:62;stroke-linecap:round;stroke-miterlimit:10" />
            <path stroke="currentColor" d="m165.25 626.76 489.74-489.75" style="stroke-width:54;stroke-linecap:round;stroke-miterlimit:10" />
            <path fill="currentColor" stroke="currentColor" d="M722.34 260.06 792 0 531.94 69.67z" />
        </svg>
    </span>{{ end }}</a>

